.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 27px;
    row-gap: 50px;
    margin: auto;
}

.home {
    padding-bottom: 50px;
}

.link-card {
    text-decoration: none;
    width: 400px;
}

.link-card:hover {
    transform: scale(110%);
}

.reload {
    margin-bottom: 30px;
}

.title h1{
    color: white;
}

@media (max-width: 1300px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 870px) {
    .cards {
        grid-template-columns: repeat(1, 1fr);
    }
}