.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 27px;
    row-gap: 50px;
    margin: auto;
}

.home {
    padding-bottom: 50px;
}

.link-card {
    text-decoration: none;
    width: 400px;
    margin-left: 90px;
}

.link-card:hover {
    transform: scale(110%);
}

.reload {
    margin-bottom: 30px;
}

.title h1{
    color: white;
}

@media (max-width: 1366px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 1024px) {

    .link-card {
        width: 350px;
        height: 350px;
    }

}

@media (max-width: 800px) {

    .cards {
        grid-template-columns: repeat(1, 1fr);
        margin-left: 120px;
    }
}

@media (max-width: 400px) {

    .cards {
        display: block;
        margin-left: 0px;
        width: 300px;
        margin: 0px;
        margin-left: 55px;
    }

    .link-card {
        width: 250px;
        height: 280px;
    }
}
