.card {
    width: 400px;
    height: auto;
    background: rgb(23,25,30);
    background: linear-gradient(0deg, rgba(23,25,30,1) 0%, rgba(42,45,60,1) 100%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 200ms ease-in-out;
    position: relative;
    color: white;
    padding-top: 5%;
    margin-bottom: 30px;
    box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 2rem #2bcac6,
            0 0 0.8rem #2bcac6,
            0 0 2.8rem #2bcac6,
            inset 0 0 1.3rem #2bcac6; 
}

.card:before,
.card:after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094,
            #0000ff, #00ff00, #ffff00, #ff0000);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: steam 20s linear infinite;
    border-radius: 10px;
}

@keyframes steam {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.card:after {
    filter: blur(50px);
}

.card:hover {
    box-shadow: none;
}

.cardImg {
    border-radius: 5px;
    border: 1px solid rgb(204, 202, 202);
    object-fit: cover;
}

.cardImg:hover, .cardTitle:hover, .cardGenres:hover {
    transform: none;
}

.cardTitle {
    font-size: 28px;
}

.cardGenres {
    font-size: 18px;
}

@media (max-width: 1024px) {

    .card {
        width: 350px;
        height: 350px;
    }

    .cardImg {
        width: 250px;
        height: 200px;
    }

    .cardTitle {
        font-size: 20px;
    }

    .cardGenres {
        font-size: 15px;
    }
}

@media (max-width: 400px) {

    .card {
        width: 250px;
        height: 280px;
    }

    .cardImg {
        width: 200px;
        height: 150px;
    }

    .cardTitle {
        font-size: 15px;
    }

    .cardGenres {
        font-size: 10px;
    }
}
